{
    "extends": "airbnb",
    "plugins": ["jest"],
    "env": {
        "jest/globals": true
    },
    "rules": {
        "no-unused-vars": ["error", {"argsIgnorePattern":"next"}],
        "prefer-destructuring": ["error", {"object": false, "array": false}]
    }
}